/* Footer.css */

.footer {
    background-color:rgb(4, 3, 27);
    color: white;
    padding: 24px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 240px); /* Adjust this width based on your sidebar width */
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .footer {
      width: 100%; /* Full width on smaller screens */
    }
  }
  